name: stackoverflow
on:
  schedule:
    # Runs every day at midnight
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      
      - uses: gautamkrishnar/blog-post-workflow@1.9.4
        with:
          comment_tag_name: "STACKOVERFLOW"
          commit_message: "Updated readme with the latest StackOverflow data"
          feed_list: "https://stackoverflow.com/feeds/user/10951752"
